.legend-of-dizzy-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.legend-of-dizzy {
  margin: 0; /* Remove default margin */
}

.header-container {
  height: 100%; /* Set the height to 100% to fill the entire height of the Navbar */
  display: flex;
  align-items: center; /* Vertically center the content */
}

.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
}


.hyrule {
  font-family: "HyruleSerif";
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.homepage-image {
  height: 40%;
  width: 80%;
}

.big-text{
font-size: xx-large;
}

.medium-text{
  font-size: 30px;
}

.very-big-text{
  font-size: 75px;
}

.start-message-container{
  margin-top: 30px;
  margin-right:50px;
  margin-left:50px;
}

.margin-0{
  margin: 0;
}

.katy-run {
  width: 500px;
}

.game-flex {
  display: flex;
  justify-content: center; /* Center the container horizontally */
  align-items: center; /* Center the container vertically */
  margin: 0 auto; /* Center the container horizontally */
 
  
}

.game-disp{
  flex: 1; /* Distribute available space evenly among components */
  min-width: 0; /* Allow components to shrink if necessary */
  border: 1px solid black; /* Example border */
  margin: 10px; /* Example margin */
  padding: 10px; /* Example padding */
}

.leaderboards {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .leaderboards {
    display: block;
    font-size: 0.8rem;
  }
}