.backgroundContainer {
    width: 1920px;
    height: 950px;
    /* background-image: url('../../../assets/images/sprites/brick_background.png');
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align children (canvas) to the top */
}

.App {
    width: 100%;
    /* Fill the container */
    height: 100%;
    /* Fill the container */
    position: relative;
    /* z-index: 20; */
    border: 1px solid white;
    margin: 0;
    padding: 0;
}